@font-face { 
  font-family: "Century Schoolbook";
  src: url(http://s.scottrocher.com.s3.amazonaws.com/CenturySchoolbookBT.ttf) format("truetype");
}

.defer {
	background-image: none !important;
}

html, body {
	height: 100.1%;
	min-height: 100.1%;
	overflow: visible;
	background: #333 url(../images/bg.png);
}


#doc {
	min-height: 100%;
	margin: 0 auto;
	font-family: Georgia;
}

#doc .cnt {
	width: 1024px;
	margin: 0 auto;
}

#hd {
	border-bottom: solid 3px #111;
	padding: 30px 0;
}

#hd .cnt {
	background: url(../images/lincon.png) no-repeat;
	height: 100px;
	position: relative;
}

#hd a.logo {
	font-family: "Century Schoolbook";
	font-size: 300%;
	font-weight: bold;
	color: #fff;
	display: block;
	text-decoration: none;
	text-shadow: #333 1px 1px 2px;
	padding-left: 120px;
}

#hd p {
	font-family: "Century Schoolbook";
	color: #999;
	padding-left: 120px;
}

#hd div.user {
	position: absolute;
	top: 10px;
	right: 0;
	color: #777;
	text-align: right;
	text-shadow: #111 1px 1px 1px;
}

#hd div.user img {
	float: right;
	margin-left: 5px;
	border: solid 5px #222;
	border-radius: 5px;
	top: -3px;
	position: relative;
}

#hd div.user a {
	display: block;
	color: #777;
	text-decoration: none;
	font-weight: bold;
	font-size: 93%;
}

/* !bd */
#bd {
	background: #fff;
	min-height: 600px;
	padding: 20px 0;
}


/* !ft */
#ft {	
	text-align: center;
	padding: 20px;
	color: #777;
	font-size: 85%;
}


#ft a {
	color: #777;
}

#ft em {
	color: #eee;
	padding-left: 30px;
}

#ft em a {
	color: #eee;
}

/* index */
form.submit {
	padding: 30px 0;
	background: #efefef;
	border-radius: 30px;
}

form.submit div {
	width: 250px;
	text-align: right;
	float: left;
}

form.submit div h2 {
	font-family: "Century Schoolbook";
	font-size: 197%;
	color: #333;
	text-shadow: #fff 1px 1px;
}

form.submit div p {
	font-size: 93%;
	color: #555;
	padding: 0 0 0 20px;
	line-height: 1.5em;
}

form.submit fieldset {
	width: 750px;
	margin-left: 280px;
}

form.submit fieldset div.error {
	width: 100%;
	text-align: left;
	color: red;
	clear: both;
	padding-bottom: 5px;
	text-shadow: #fff 1px 1px;
}

form.submit fieldset ul li {
	position: relative;
	margin: 5px 0;
	width: 70%;
	float: left;
}

form.submit fieldset ul li label {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;	
	font-size: 151%;
	color: #888;
	width: 70%;
	z-index: 2;
	padding: 10px;
}

form.submit fieldset ul li textarea {
	padding: 0 10px;
	border: solid 1px #ccc;
	border-radius: 10px;
	width: 98%;
	z-index: 1;
	padding-top: 40px;
	height: 0px;
	overflow: hidden;
}

form.submit fieldset ul li.button {
	width: 180px;
	float: right;
	top: -35px;
}

form.submit fieldset ul li.button button {
	color: #b2280f;
	font-family: "Century Schoolbook";
	font-weight: bold;
	text-shadow: #fff 1px 1px;	
	padding: 10px 20px;
	font-size: 147%;
	border: solid 1px #fff;
	background: #ccc -webkit-gradient(linear, 50% 0%, 50% 100%, from(#E6E6E6), to(#CCC));
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 4px #888;
	cursor: pointer;
}

/* !body.index */
body.index form.submit {
	margin-bottom: 30px;
}

body.index h3 {
	font-family: "Century Schoolbook";
	font-weight: bold;
	font-size: 151%;
}


/* recent */
ul.recent {
	margin: 15px 50px 0 0;
}

ul.recent li {
	padding-bottom: 15px;
	margin-bottom: 15px;
	background: url(../images/pnt_r.gif) no-repeat 30px 3px;
	border-bottom: dotted 1px #eee;	
}

ul.recent li blockquote {
	margin-left: 45px;
}

ul.recent li blockquote em.user {
	display: block;
	font-weight: bold;
	font-size: 93%;
}

ul.recent li blockquote h4 {
	font-size: 108%;
	line-height: 1.4em;
}


ul.recent li h4 a {
	display: block;
	text-decoration: none;
	color: #555;
	text-shadow: #fff 1px 1px;
}

ul.recent li cite {
	display: block;
	font-size: 85%;
	color: #888;
}


ul.recent li img {
	float: left;
	border: solid 5px #eee;
	border-radius: 5px;
}



ul.stream {
	margin-top: 10px;
}

ul.stream li {
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: dotted 1px #eee;
}

ul.stream li:last-child {
	border-bottom: none;
}

ul.stream li a {
	display: block;
	color: #777;
	text-decoration: none;	
	background: url(../images/pnt_r.gif) no-repeat 38px 5px;
	font-size: 93%;
}

ul.stream li a strong {
	color: #555;
}

ul.stream li a strong:first-child {
	font-weight: bold;
}

ul.stream li a img {
	float: left;
	border: solid 5px #eee;
	border-radius: 5px;
}

ul.stream li a div {
	margin-left: 55px;
}

ul.stream li a em {
	display: block;
	font-size: 10px;
	color: #888;
}

/* war */
body.war #bd {
	padding-top: 10px;
}

body.war .block {
	margin-bottom: 25px;
	border-bottom: solid 1px #eee;
	padding: 20px 0;
}

body.war .other {
	border-bottom: none;
}

body.war .block .hd em {
	display: block;
	font-size: 167%;
	text-align: right;
	padding: 0px 20px 0 0;
	color: #777;
	margin-right: 10px;
}

body.war h1 {
	font-size: 151%;
	line-height: 1.5em;
	text-shadow: #eee 1px 1px;
	color: #333;
	width: 80%;
	float: left;
	background: url(../images/pnt_l.gif) no-repeat 101% 5px;
	padding-right: 10px;	
}

body.war cite.main {
	display: block;
	color: #777;
	float: left;
	width: 17%;
	background: #eee;
	padding: 5px;
	border-radius: 5px;
	font-size: 85%;	
}

body.war cite.main em {
	display: block;
	margin-left: 30px;
}

body.war cite.main img {
	float: left;
	margin-right: 5px;
}


/* share */
body.war ul.share {
	margin: 0px 0 0 10px;
	clear: both;
}

body.war ul.share li {
	margin: 2px;
	font-size: 93%;
}

body.war ul.share li a {
	color: #888;
}

body.war ul.share li.hd { font-weight: bold; margin-left: 0; }

body.war ul.share li strong {
	font-weight: bold;
}

body.war ul.share li.link input {
	width: 200px;
	border: none;
	color: #888;
}

/* submit */
body.war form.submit,
body.war form.submit fieldset ul,
body.war form.submit fieldset ul li,
body.war form.submit fieldset {
	margin: 0;
	width: auto;
	padding: 0;
	clear: both;
	top: auto;
}

body.war form.submit {
	padding: 10px;
	border-radius: 10px;
	text-align: left;
}

body.war form.submit fieldset ul li {
	width: 100%;
}

body.war form.submit textarea {
	width: 95%;
	height: 100px;
}

body.war form.submit fieldset ul li.button button {
	padding: 5px 10px;
	font-size: 14px;
}



body.war .other form.submit {
	padding: 5px;
	border-radius: 10px;
}

body.war .other form.submit ul li {
	position: relative;
	float: left;
	width: 80%;
	clear: none;
}

body.war .other form.submit ul li label {
	width: auto;
}

body.war .other form.submit ul li textarea {
	width: 170px;
}

body.war .other form.submit ul li.button {
}

body.war .other ul.recent {
	margin: 0 50px 0 0;
}

body.war .other ul.recent li {
	position: relative;
}

body.war .other ul.recent li blockquote {
	margin-right: 100px;
}

body.war .other ul.recent li a.vote {
	position: absolute;
	top: 5px;
	right: 5px;
}

body.war .other ul.recent li.empty {	
	background: none;
	border: none;
	text-align: center;
	color: #888;
	padding: 8px;
	border-radius: 5px;
}


/* dual */
ul.dual {
	margin-bottom: 0px;
}

ul.dual li {
	position: relative;
	float: left;
	width: 48%;	
	margin-right: 10px;
}

ul.dual li:last-child {
	border: none;
	margin-right: 0;
}

ul.dual li blockquote {
	display: block;
	margin-left: 45px;
	line-height: 1.5em;
	color: #333;
	font-size: 108%;
	padding-right: 10px;
}

ul.dual li cite {
	float: left;
	background: #fff url(../images/pnt_r.gif) no-repeat right 2px;
	padding-right: 5px;
}

ul.dual li cite a {
	display: block;
	width: 60px;
}	

ul.dual li cite img {
	border: solid 5px #eee;
	border-radius: 5px;
	width: 25px;
	height: 25px;	
	background: #fff;
}

ul.dual li div.user {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

ul.dual li em {
	display: block;
	font-size: 85%;
	color: #888;
}

ul.dual li.empty div {
	margin: 0 0 0 20px;
	padding: 10px;
	text-align: center;
}

ul.dual li.empty div em {
	display: block;
	font-size: 197%;
	color: #ccc;
	
}

ul.dual li.empty div a {
	display: block;
	padding: 5px;
	color: #555;
	text-shadow: #fff 1px 1px;
}

ul.dual li div.votes {
	text-align: left;
	color: #333;
	font-size: 300%;
	clear: both;
	padding: 10px 15px 10px;
	line-height: .9em;
}


a.vote {
	display: block;
	font-weight: bold;
	text-shadow: #fff 1px 1px;	
	padding: 2px 8px;
	font-size: 121%;
	border: solid 1px #fff;
	background: #ccc -webkit-gradient(linear, 50% 0%, 50% 100%, from(#E6E6E6), to(#CCC));
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 4px #888;
	cursor: pointer;
	color: #333;	
	text-decoration: none;
	float: left;
}

#doc a.vote em {
	display: inline;
	padding-left: 10px;
}

a.vote.active {
	cursor: default;
	color: #b2280f;	
} 

ul.a li a.vote:hover {
	background: #ccc -webkit-gradient(linear, 50% 0%, 50% 100%, from(#E6E6E6), to(#CCC));
}

ul.dual a.vote {
	margin-left: 20px;
}

/* army */
ul.vote {
	margin-top: 20px;
}

ul.vote li {
	background: url(../images/pnt_u.gif) no-repeat 25px 32px;
	border-right-color: #fff;
}

ul.dual li ul.army {
	display: inline;
	clear: both;
	margin: 15px 0px 0 20px;
	border-left: solid 1px #eee;
	background: #eee;
	float: left;
	border-radius: 10px;
	padding: 5px;
	max-width: 470px;
}

ul.dual li:first-child ul.army {
	border: none;
}

ul.dual li ul.army li {
	position: relative;
	float: left;
	padding: 0;
	width: 25px;
	height: 25px;
	margin: 1px;
}

ul.dual li ul.army li a {
	display: block;
	width: 50px;
	height: 50px;
}


/* side */
ul.sides li {
	clear: both;
	padding: 10px 0;
	margin: 5px 0;
	position: relative;
	min-height: 50px;
	border-bottom: dotted 1px #eee;
}

ul.sides li a.votes {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	font-size: 300%;
	text-decoration: none;
	color: #555;
	font-weight: bold;	
}

ul.sides li a.votes em {
	display: block;
	font-size: 13px;
}

ul.sides li blockquote {
	margin: 5px 0 0 195px;
	color: #333;
	line-height: 1.4em;
}

ul.sides li blockquote div.user {
	
}

ul.sides li blockquote div.user a {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

ul.sides li blockquote div.user em {
	color: #888;
	font-size: 85%;
}

ul.sides li cite {
	width: 70px;
	display: block;
	float: left;
	background-position: right 5px;
}

ul.sides li cite a.img {
	display: block;
	background: #eee;
	padding: 5px;
	font-size: 0;
	border-radius: 5px;
	margin-bottom: 5px;
	float: left;
}

ul.sides li cite a img {
	float: none;
	margin: 0;
	border: none;
}

/* invite */
form.invite fieldset legend {
	display: block;
	background: #eee;
	padding: 10px;
	font-size: 131%;
	width: 500px;
}

form.invite fieldset ul {
	padding: 10px;
}

form.invite fieldset ul li label {
	display: block;
	font-weight: bold;
	padding: 5px 0 2px;
	font-size: 85%;
	color: #444;
}

form.invite fieldset ul li input,
form.invite fieldset ul li textarea {
	border: solid 1px #eee;
	padding: 4px;
	width: 80%;
}

form.invite fieldset p {
	padding: 10px 10px 0;
	width: 500px;	
}

form.invite fieldset p strong {
	font-weight: bold;
}

form.invite fieldset ul li textarea {
	height: 100px;
}

ul.stream li:after,
body.index ul.recent li:after,
ul.dual li ul.army:after,
ul.dual:after,
ul.dual li div.votes:after,
ul.sides li:after,
body.index form.submit:after,
#bd:after, #ft:after, #hd:after
{content:'.';visibility:hidden;clear:left;height:0;display:block}